<!-- <section class="textAlign-left bg-white padding-lg borderRadius-lg margin-md interactive">
    <a href="/elijo-querer" class="GridRow display-flex textDecoration-none">
      <div class="GridColumn GridColumn--fromXSmall-8 GridColumn--fromMedium-9">
        <img src="/media/hashtag.png" alt="#ElijoQuerer" width="260px" class="fromSmall-marginBottom-md">
        <h5 class="color-campaign fontWeight-semiBold marginBottom-0 upToSmall-fontSize-md">Campaña para fomentar las relaciones respetuosas, positivas y libres de violencia.</h5>
      </div>
      <div class="GridColumn GridColumn--fromXSmall-4 GridColumn--fromMedium-3">
        <img src="/media/elijo-querer/elijo-querer.gif" alt="Elijo Querer">
      </div>
  </a>
</section> -->

<section class="textAlign-left bg-white borderRadius-lg interactive" style="overflow: hidden; max-width: 460px; margin: auto auto 1rem auto; padding: 0 1rem;">
  <a title="Jornadas XV aniversario contexto" href="/jornadas-xv-aniversario-contexto" class="GridRow display-flex textDecoration-none">
    <img src="/media/Contexto-Suma-BANNER-WEB.jpg" alt="Jornadas XV aniversario contexto">
</a>
</section>
