<footer class="Footer fromXSmall-textAlign-center fromMedium-textAlign-left">
  <div class="container">
    <div class="GridRow marginBottom-lg">
      <div class="GridColumn GridColumn--fromMedium-4">
        <img src="/images/logo-contexto-dark.svg" width="120" alt="logo programa contexto" />
        <p class="color-gray fontSize-sm">Departamento de Psicología Social,<br /> Facultad de Psicología, <br />Universitat de València</p>
        <p class="color-gray fontSize-sm fontWeight-semiBold">
          &copy; Programa Contexto, {{ site.time | date: '%Y' }}.
        </p>

      </div>
      <div class="GridColumn GridColumn--fromMedium-8">
        <h6 class="textTransform-uppercase fontSize-sm color-grayLight">
          Programa desarrollado por:
        </h6>
        <img src="/images/psima.png" srcset="/images/psima.png 1x, /images/psima@2x.png 2x" alt="asociación psima" class="marginRight-md"/>
        <img class="display-inlineBlock" src="/images/uv.png" srcset="/images/uv.png 1x, /images/uv@2x.png 2x" alt="universidad de valencia" />
      </div>
    </div>

    <h6 class="textTransform-uppercase fontSize-sm color-grayLight">
      Entidades colaboradoras:
    </h6>
    <div class="GridRow GridRow--fromSmall-2 GridRow--fromMedium-4">
      <img class="GridColumn" src="/images/la-caixa.png" srcset="/images/la-caixa.png 1x, /images/la-caixa@2x.png 2x" alt="Obra Social la Caixa" />
      <img class="GridColumn" src="/images/ayuntamiento-valencia.png" srcset="/images/ayuntamiento-valencia.png 1x, /images/ayuntamiento-valencia@2x.png 2x" alt="Ayuntamiento de Valencia" />
      <img class="GridColumn" src="/images/ministerio-de-interior.png" srcset="/images/ministerio-de-interior.png 1x, /images/ministerio-de-interior@2x.png 2x" alt="Ministerio de Interior" />
      <img class="GridColumn" src="/images/ministerio-de-sanidad.png" srcset="/images/ministerio-de-sanidad.png 1x, /images/ministerio-de-sanidad@2x.png 2x" alt="Ministerio de Sanidad" />
    </div>


  </div>
</footer>
