<footer class="Footer fromXSmall-textAlign-center fromMedium-textAlign-left">
  <div class="container">
    <div class="GridRow">
      <div class="GridColumn GridColumn--fromMedium-3">
        <img src="/images/logo-dark.svg" width="120" alt="logo programa contexto" />
        <p class="color-gray fontSize-sm">Departamento de Psicología Social,<br /> Facultad de Psicología, <br />Universitat de València</p>
        <p class="color-gray fontSize-sm fontWeight-semiBold">
          &copy; Programa Contexto, {{ site.time | date: '%Y' }}.
        </p>

      </div>
      <div class="GridColumn GridColumn--fromMedium-3">
        <h6 class="textTransform-uppercase fontSize-sm color-grayLight">
          Programa desarrollado por:
        </h6>
        <img class="display-inlineBlock" src="/images/uv.png" srcset="/images/uv.png 1x, /images/uv@2x.png 2x" alt="universidad de valencia" />
        <img src="/images/psima.png" srcset="/images/psima.png 1x, /images/psima@2x.png 2x" alt="asociación psima" />
      </div>
      <div class="GridColumn GridColumn--fromMedium-6">
        <h6 class="textTransform-uppercase fontSize-sm color-grayLight">
          Entidades colaboradoras:
        </h6>
        <img class="fromMedium-marginTop-xl" src="/images/colaboradores.png" srcset="/images/colaboradores.png 1x, /images/colaboradores@2x.png 2x" srcse alt="entidades colaboradoras" />

      </div>
    </div>
  </div>
</footer>
