<footer class="Footer fromXSmall-textAlign-center fromMedium-textAlign-left">
  <div class="container">
    <div class="GridRow">
      <div class="GridColumn GridColumn--fromMedium-3">
        <img src="/images/logo-dark.svg" width="120" alt="logo programa contexto" />
        <p class="color-gray fontSize-sm">Departamento de Psicología Social,<br /> Facultad de Psicología, <br />Universitat de València</p>
        <p class="color-gray fontSize-sm fontWeight-semiBold">
          &copy; Programa Contexto, {{ site.time | date: '%Y' }}.
        </p>

      </div>
      <div class="GridColumn GridColumn--fromMedium-4">
        <h6 class="textTransform-uppercase fontSize-sm color-gray">
          Programa desarrollado por:
        </h6>
        <img class="display-inlineBlock" src="/images/uv.png" alt="universidad de valencia" />
        <img src="/images/psima.png" alt="asociación psima" />
      </div>
      <div class="GridColumn GridColumn--fromMedium-5">
        <h6 class="textTransform-uppercase fontSize-sm color-gray">
          Entidades colaboradoras:
        </h6>
        <img src="/images/ministerio-de-interior.png" alt="ministerio de interior" />
        <img src="/images/la-caixa.png" alt="obra social la caixa" />
      </div>
    </div>
  </div>
</footer>
