<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title == "Inicio" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  {% if page.title == "Inicio" %}
    <meta property="og:title" content="{{ site.tagline  }}">
    <meta itemprop="name" content="{{ site.tagline }}">
    <meta name="description" content="{{ site.description }}" />
    <meta itemprop="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
  {% else %}
    <meta name="og:title" content="{{ page.title  }}">
    <meta itemprop="name" content="{{ page.title }}">
    <meta name="description" content="{{ page.description }}" />
    <meta itemprop="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
  {% endif %}

  {% if page.image %}
    <meta name="image" content="{{ site.url }}/{{ page.image }}">
    <meta property="og:image" content="{{ site.url }}/{{ page.image }}">
    <meta itemprop="image" content="{{ site.url }}/{{ page.image }}">
  {% endif %}

  <meta property="og:site_name" content="Programa Contexto">
  <meta property="og:type" content="website">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114586876-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() {
  dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-114586876-1');
</script>

</head>
