<article class="Media">
  <div class="Media-body">
    <h3 class="Media-title">{{ researcher.name  }}</h3>
    <p class="Media-meta">{{ researcher.job  }}</p>
    <div class="Media-content">
      {{ researcher.content }}
    </div>
    {% if researcher.links %}
      <p>
        {% for link in researcher.links %}
        <a href="{{ link.url }}" class="Button Button--outlinePrimary Button--withIcon marginTop-sm">
          <span class="Button-text marginRight-sm">{{ link.name }}</span>
          {% include link-icon.svg %}
        </a>
        {% endfor %}
      </p>
    {% endif %}
  </div>
</article>
