//
//  Flystyles import
//

// Config

$color-brand-primary: #073992;
$color-brand-secondary: #007FC1;
$color-brand-tertiary: #43AACB;


$max-width: 1024px;

.container {
  max-width: $max-width;
  padding: 0 1rem;
  margin: auto;
}


@import "../../node_modules/flystyles/src/flystyles";
