//
//  Flystyles import
//

// Config

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

$root-font-size: 15px;
$font-family-base: 'Source Sans Pro', sans-serif;
$color-brand-primary: #073992;
$color-brand-secondary: #007FC1;
$color-brand-tertiary: #43AACB;
$global-border-radius: 0;
$form-field-border-radius: 0;

$color-facebook: #3b5998;
$color-twitter: #1da1f2;

$max-width: 1024px;

@import "../../node_modules/flystyles/src/flystyles";

.container {
  max-width: $max-width;
  padding: 0 1rem;
  margin: auto;
}

.container--post {
  max-width: 740px;
}

.Button--outlineWhite:hover {
  text-decoration: none;
  background-color: #fff;
  color: $color-brand-primary;
}

html {
  @include media-up(medium) {
    font-size: 16px;
  }
}
