.Featured {
  display: block;
  text-align: center;
}

.Featured-image {
  padding: 2rem;
  text-align: center;

  img {
    width: 60px;
    height: auto;
    transition: all 200ms ease-in-out;
  }
}

.Featured-title {
  font-size: 24px;
  color: #4A4A4A;
  letter-spacing: 0;
  font-weight: $font-weight-light;
}

.Featured:hover {
  text-decoration: none;

  .Featured-image::after {
    opacity: .4;
  }

  img {
    transform: scale(1.1);
  }
}

.Featured-description {
  font-size: $font-size-sm;
  color: $body-color;
}
