.Featured {
  display: block;
  text-align: left;
  margin-bottom: $spacer-xl;

  @include media-up(medium) {
    margin-bottom: 0;
  }
}

.Featured-image {
  display: flex;
  padding: 0;
  height: 60px;
  align-items: center;

  img {
    width: 60px;
    height: auto;
    margin-right: $spacer;
    margin-bottom: $spacer;
    transition: all 200ms ease-in-out;
  }
}

.Featured-title {
  font-size: 24px;
  color: #4A4A4A;
  letter-spacing: 0;
  font-weight: 500;
}

.Featured:hover {
  text-decoration: none;

  .Featured-image::after {
    opacity: .4;
  }

  img {
    transform: scale(1.1);
  }
}

.Featured-description {
  font-size: $font-size-md;
  color: $body-color;
}

.Featured-content {

}
