.Featured {
  display: block;
}

.Featured-image {
  position: relative;
  margin-bottom: $spacer-sm;
  transition: all 200ms linear;
  overflow: hidden;

  img {
    width: 100%;
    transition: all 200ms ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(141deg, $color-brand-primary 0%, $color-brand-secondary 51%, $color-brand-tertiary 75%);
    opacity: .8;
    transition: all 400ms linear;
  }
}

.Featured-title {
  font-size: rem(22px);
  font-weight: $font-weight-light;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  margin: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;

  span {
    padding: .5rem .8rem;
    color: #fff;
  }
}

.Featured:hover {
  text-decoration: none;

  .Featured-image::after {
    opacity: .4;
  }

  img {
    transform: scale(1.1);
  }
}
