//
//  Hero component
//


.Hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
  padding: 10vh 3vw;

  text-align: center;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: #fff;

}
.Hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: auto;
  text-align: center;

  :last-child {
    margin-bottom: 0;
  }
}

.Hero--withBgImage {
  &::before {
    content: '';
    position: absolute;;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
  }
}

.Hero--airy {
  min-height: 40vh;
  padding: 8vw 1vw;
}
