//
//  Hero component
//


.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  width: 100%;
  padding: 12vw 2vw 10vw 5vw;

  text-align: center;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: #fff;

}
.Hero-content {
  max-width: 450px;
  margin: auto;
  text-align: center;
}
