.MainHeader {
  @include clearfix;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.MainHeader-content {
  display: flex;
  max-width: $max-width;
  padding: 1rem;
  margin: auto;
  align-items: center;

  @include media-up(medium) {
    padding: 2rem 1rem;
  }
}

.MainHeader-title {
  margin: 0;

  img {
    width: 120px;
    height: auto;
  }
}

.MainHeader-nav {
  margin-left: auto;
}


// Dark variation

.MainHeader--dark {
  position: static;
  //margin-bottom: $spacer-xxl;
  border-bottom: 1px solid #eee;
}
