//
//  Media Object component
//  http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
//

.Media {
  display: flex;
  width: 100%;
  margin-bottom: 56px;
  flex-direction: column;

  @include media-up(medium) {
    flex-direction: row;
  }
}

.Media-media {
  margin-bottom: $spacer-lg;

  @include media-up(medium) {
    max-width: 200px;
    padding-right: $spacer-xl;
  }
}

.Media-body {
  flex: 1;
}

.Media-title {
  margin-bottom: $spacer-sm;
}

.Media-meta {
  font-size: $font-size-sm;
  text-transform: uppercase;
  color: $color-brand-primary;
  font-weight: $font-weight-semi-bold;
}

.Media-content {
  text-align: left;
}
