//
//  Nav component
//

.Nav {
  transition: all 200ms ease-in-out;
}

.Nav-menu {
  @include inline-list();
  font-size: rem(15px);
  text-transform: uppercase;

  @include media-down(medium) {
    display: none;
  }
}

.Nav-menuItem {
  &:last-child {
    margin-right: 0;
  }

  @include media-up(medium) {
    margin-right: $spacer;

    .page-home & {
      margin-right: 2.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.Nav-menuLink {
  font-weight: $font-weight-semi-bold;
  color: #fff;

  &::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 5px;
    background: $color-brand-secondary;
    opacity: 0;
    transition: all 200ms ease-in-out;
    transform: translateY(-5px);
  }

  &:hover,
  &.is-active {
    color: #fff;
    text-decoration: none;

    &::after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// Nav Mobile

.Nav.is-open {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgba($color-brand-primary, 0.9);
  overflow: hidden;

  .Nav-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .Nav-menuItem {
    display: block;
    padding: 1rem;
    font-size: rem(18px);
    text-align: center;
  }
  .Nav-icon--toggle {
    display: none;
  }

  .Nav-icon--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
  }
}

//Nav icons

.Nav-icon {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: rem(24px);

  @include media-down(medium) {
    display: inline-block;
  }
}

.Nav-icon--close {
  display: none;
}

// Nav Dark
.Nav--dark {
  .Nav-menuLink,
  .Nav-icon {
    color: $body-color;
  }
  &.is-open {
    .Nav-menuLink {
      color: #fff;
    }
    .Nav-icon--close {
      color: #fff;
    }
  }
}
