.Post-title {
  font-weight: $font-weight-semi-bold;
  margin-bottom: $spacer-md;
}
.Post-content {
  font-size: rem(17px);
}
.Post-date {
  color: $color-gray;
}
.Post-header {
  margin-bottom: $spacer-xl;
}
