.SocialLinks {
  padding: 0;
  list-style: none;

  @include media-up(medium) {
    display: inline-block;
  }
}

.SocialLinks-item {
  display: inline-block;
  margin: 0 .2rem;
}

.SocialLinks-item-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid $body-color;
  transition: 200ms all linear;


}

.SocialLinks-item-icon {
  width: 14px;
  height: 14px;
  fill: $body-color;
  transition: 200ms all linear;

  .SocialLinks-item-link:hover & {
    fill: #fff;
  }
}

.SocialLinks-item-link--facebook:hover {
  background: $color-facebook;
  border-color: $color-facebook;
  fill: #fff;
}

.SocialLinks-item-link--twitter:hover {
  background: $color-twitter;
  border-color: $color-twitter;
  fill: #fff;
}


// Mix with nav menu

.is-open {
  .SocialLinks {
    display: block !important;
  }
  .SocialLinks-item-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-color: #fff;
  }
  .SocialLinks-item-icon {
    width: 20px;
    height: auto;
    fill: #fff;
  }
}

.Nav .SocialLinks {
  display: none;

  @include media-up(medium) {
    display: inline-block;
    margin-left: $spacer;
  }
}
