// Colors


h1, .type-h1 {
  @include type-h1;
  @include media-down(medium) {
    font-size: rem(34px);
  }
}
h2, .type-h2 {
  @include type-h2;
  @include media-down(medium) {
    font-size: rem(26px);
  }
}
h3, .type-h3 {
  @include type-h3;
  @include media-down(medium) {
    font-size: rem(22px);
  }
}
h4, .type-h4 {
  @include type-h4;
}

h5, .type-h5 {
  @include type-h5;
  line-height: 1.4,
}

.type-lead {
  max-width: 800px;
  margin: 0 auto $spacer-xl auto;
  font-size: rem(18px);
  color: $color-gray;
  text-align: center;
  @include media-down(medium) {
    font-size: rem(16px);
  }
}

.text-hidden {
  font-size: 0;
}

.lineHeight-md {
  line-height: 1.5 !important;
}

.unstyle {
  padding: 0;
  list-style: none;
}


.marginRight-md {
  margin-right: $spacer-md;
}
.marginRight-xl {
  margin-right: $spacer-xl;
}

.display-flex {
  display: flex;
}

.textShadow {
  text-shadow: 0px 1px 0px rgba(0,0,0,.8);
}
