---
title: Inicio
layout: default
nav_order: 0
image: media/contexto-home_mr6oro_c_scale,w_1200.jpg
---

{% include header.html %}

<section class="Hero Hero--airy Hero--withBgImage">
  <div class="Hero-content">
    <h1 class="text-hidden">Programa Contexto</h1>
    <img src="./images/logo-contexto.svg" alt="Logo del Programa Contexto" width="280" height="auto"  class="marginBottom-xl upToMedium-hidden"/>
    <h2 class="color-white type-h3 fontWeight-normal lineHeight-md padding-lg textShadow">Programa de Investigación, Formación, Intervención y Prevención de la Violencia de Género a través del trabajo con el agresor</h2>
  </div>
  <img
    class="Hero-backgroundImage"
    sizes="(max-width: 1200px) 100vw, 1200px"
    srcset="
      media/contexto-home_mr6oro_c_scale,w_480.jpg 480w,
      media/contexto-home_mr6oro_c_scale,w_973.jpg 973w,
      media/contexto-home_mr6oro_c_scale,w_1200.jpg 1200w"
    src="media/contexto-home_mr6oro_c_scale,w_1200.jpg"
    alt="Programa Contexto"
  >
</section>

<div class="container Featured-list paddingTop-xl paddingBottom-xl">
  <div class="GridRow GridRow--fromMedium-3">
    <div class="GridColumn">
      <a class="Featured" href="{{ 'intervencion' | prepend:site.baseurl }}">
        <div class="Featured-image" href="invervencion">
          <img src="./images/intervencion.svg" alt='Intervención'/>
          <h3 class="Featured-title color-tertiary"><span>Intervención</span></h3>
        </div>
        <div class="Featured-content">
          <p class="Featured-description">Intervención con agresores y prevención de la violencia de género.</p>
          <p class="fontWeight-semiBold color-tertiary fontSize-sm textTransform-uppercase margin-0" href="{{ 'intervencion' | prepend:site.baseurl }}">Programa de intervención</p>
        </div>
      </a>
    </div>

    <div class="GridColumn">
      <a class="Featured" href="{{ 'formacion' | prepend:site.baseurl }}">
        <div class="Featured-image">
          <img src="./images/formacion.svg" alt='Formación'/>
          <h3 class="Featured-title color-secondary"><span>Formación</span></h3>
        </div>
        <div class="Featured-content">
          <p class="Featured-description">Espacio para la formación de profesionales en herramientas para la intervención psicosocial con agresores en las relaciones de pareja.</p>
          <p class="fontWeight-semiBold color-secondary fontSize-sm textTransform-uppercase margin-0" href="{{ 'formacion' | prepend:site.baseurl }}">Formación ofrecida</p>
        </div>
      </a>
    </div>
    <div class="GridColumn">
      <a class="Featured" href="{{ 'investigacion' | prepend:site.baseurl }}">
        <div class="Featured-image">
          <img src="./images/investigacion.svg" alt="Investigación" width="52" height="auto" style="width: 52px" />
          <h3 class="Featured-title color-primary"><span>Investigación</span></h3>
        </div>
        <div class="Feature-content">
          <p class="Featured-description">Investigación avanzada en intervención y prevención de la violencia de género.</p>
          <p class="fontWeight-semiBold color-primary fontSize-sm textTransform-uppercase margin-0" href="{{ 'investigacion' | prepend:site.baseurl }}">Nuestras publicaciones</p>
        </div>
      </a>
    </div>
  </div>
</div>

<section class="bg-primary">
  <div class="container">
    <div class="GridRow Help">
      <div class="GridColumn GridColumn--fromMedium-3 upToMedium-hidden">
      </div>
      <div class="GridColumn GridColumn--fromMedium-6 paddingTop-xxl fromMedium-paddingBottom-xxl">
        <h3 class="color-white marginBottom-xl">¿Te ayudamos?</h3>
        <p class="color-white">¿Tienes dificultades para conseguir vivir tus relaciones de pareja de manera saludable, positiva y sin violencia?</p>
      </div>
      <div class="GridColumn GridColumn--fromMedium-3">
        <p class="marginTop-xxl marginBottom-xl">
          <a href="{{ 'pide-ayuda' | prepend:site.baseurl }}" class="Button Button--outlineWhite fromMedium-marginTop-xxl">Pide ayuda</a>
        </p>
      </div>
    </div>
</section>

<section class="container">
  <h2 class="margin-xxl textAlign-center">Últimas noticias</h2>
  <div class="GridRow GridRow--fromMedium-2">
    {% for post in site.posts limit:2 %}
    <div class="GridColumn">
      <article class="Media">
        {% if post.image %}
        <div class="Media-media">
          <a href="{{ post.url | prepend:site.baseurl }}">
            <img src="{{ post.image }}" alt="Imagen {{ post.title}}" />
          </a>
        </div>
        {% endif %}
        <div class="Media-body">
          <h3 class="Media-headline">
            <a href="{{ post.url | prepend:site.baseurl }}">
              {{ post.title }}
            </a>
          </h3>
          <p class="Media-description">
            {{ post.description }}
          </p>
          <p class="Media-link">
            <a class="Button padding-0" href="{{ post.url | prepend:site.baseurl }}">
              Leer más
            </a>
          </p>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</section>
