---
title: Inicio
layout: default
nav_order: 0
---

{% include header.html %}

<section class="Hero Hero--airy">
  <div class="Hero-content">
    <h1 class="text-hidden">Programa Contexto</h1>
    <img src="./images/logo-contexto.svg" alt="Logo del Programa Contexto" width="244" height="auto"  class="marginBottom-xl upToMedium-hidden"/>
    <h2 class="color-white type-h5 fontWeight-normal lineHeight-md padding-lg">Programa de Investigación, Formación, Intervención y Prevención de la Violencia de Género a través del trabajo con el agresor</h2>
  </div>
</section>

<div class="container Featured-list paddingTop-xl paddingBottom-xl">
  <div class="GridRow GridRow--fromSmall-3">
    <div class="GridColumn">
      <a class="Featured" href="{{ 'investigacion' | prepend:site.baseurl }}">
        <div class="Featured-image">
          <img src="./images/investigacion.svg" alt="Investigación" width="60" height="auto" />
        </div>
        <h3 class="Featured-title"><span>Investigación</span></h3>
        <p class="Featured-description">Investigando para generar una intervención basada en la evidencia científica.</p>
        <p class="fontWeight-semiBold color-tertiary fontSize-sm textTransform-uppercase" href="#">Nuestras publicaciones</p>
      </a>
    </div>
    <div class="GridColumn">
      <a class="Featured" href="{{ 'formacion' | prepend:site.baseurl }}">
        <div class="Featured-image">
          <img src="./images/formacion.svg" alt='Formación'/>
        </div>
        <h3 class="Featured-title"><span>Formación</span></h3>
        <p class="Featured-description">Espacio para la formación de profesionales o futuros profesionales en herramientas para la intervención psicosocial con población altamente resistente al cambio.</p>
        <p class="fontWeight-semiBold color-secondary fontSize-sm textTransform-uppercase" href="#">Formaciones ofrecidas</p>
      </a>
    </div>
    <div class="GridColumn">
      <a class="Featured" href="{{ 'intervencion' | prepend:site.baseurl }}">
        <div class="Featured-image" href="invervencion">
          <img src="./images/intervencion.svg" alt='Intervención'/>
        </div>
        <h3 class="Featured-title"><span>Intervención</span></h3>
        <p class="Featured-description">Atención psicosocial y prevención de la violencia de género en adultos y adolescentes.</p>
        <p class="fontWeight-semiBold color-primary fontSize-sm textTransform-uppercase" href="#">Programa de intervención</p>
      </a>
    </div>
  </div>
</div>

<section class="bg-primary">
  <div class="container">
    <div class="GridRow Help">
      <div class="GridColumn GridColumn--fromMedium-3 upToMedium-hidden">
      </div>
      <div class="GridColumn GridColumn--fromMedium-6 paddingTop-xxl fromMedium-paddingBottom-xxl">
        <h3 class="color-white fontWeight-light marginBottom-xl">¿Te ayudamos?</h3>
        <p class="color-white">¿Tientes dificultades para conseguir vivir tus relaciones de pareja de manera saludable, positiva y sin violencia?</p>
      </div>
      <div class="GridColumn GridColumn--fromMedium-3">
        <p class="marginTop-xxl marginBottom-xl">
          <a href="{{ 'pide-ayuda' | prepend:site.baseurl }}" class="Button Button--outlineWhite fromMedium-marginTop-xxl">Pide ayuda</a>
        </p>
      </div>
    </div>
</section>

<section class="container">
  <h2 class="margin-xxl fontWeight-light textAlign-center">Últimas noticias</h2>
  <div class="GridRow GridRow--fromMedium-2">
    {% for post in site.posts limit:2 %}
    <div class="GridColumn">
      <article class="Media">
        {% if post.image %}
        <div class="Media-media">
          <img src="{{ post.image }}" alt="Imagen {{ post.title}}" />
        </div>
        {% endif %}
        <div class="Media-body">
          <time class="Media-meta">{{ post.date | date_to_string }}</time>
          <h3 class="Media-headline">
            <a href="{{ post.url | prepend:site.baseurl }}">
              {{ post.title }}
            </a>
          </h3>
          <p class="Media-excerpt">
            {{ post.excerpt }}
          </p>
          <p class="Media-link">
            <a class="Button padding-0" href="{{ post.url | prepend:site.baseurl }}">
              Leer más
            </a>
          </p>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</section>
