---
layout: page
title: Investigación
description: ¿Son eficaces los programas de intervención con maltratadores?, ¿Qué elementos influyen en la reducción de la conducta violenta?
nav_order: 2
image: media/investigacion-bg_mdruaf_c_scale,w_1251.jpg
---

<section class="Hero Hero--withBgImage marginBottom-xxl" style="background-image: url(/media/investigacion.jpg)">
  <div class="Hero-content">
    <h1 class="textAlign-center">Investigación</h1>
    <p>Investigadores pertenecientes a distintos Departamentos de la Facultad de Psicología de la Universitat de València utilizamos métodos avanzados y novedosos de investigación en el ámbito de la violencia de género y la intervención con los agresores.</p>
  </div>
  <img
    sizes="(max-width: 1600px) 100vw, 1600px"
    srcset="
      media/investigacion-bg_mdruaf_c_scale,w_480.jpg 480w,
      media/investigacion-bg_mdruaf_c_scale,w_921.jpg 921w,
      media/investigacion-bg_mdruaf_c_scale,w_1251.jpg 1251w,
      media/investigacion-bg_mdruaf_c_scale,w_1496.jpg 1496w,
      media/investigacion-bg_mdruaf_c_scale,w_1600.jpg 1600w"
    src="media/investigacion-bg_mdruaf_c_scale,w_1600.jpg"
    alt="investigación contexto lila"
    class="Hero-backgroundImage"
  >
</section>

<section class="container">
  <h2 class="textAlign-center marginBottom-xxl">Equipo de investigación</h2>

  {% assign researchers = site.researchers | sort: 'order' %}
  {% for researcher in researchers %}
    {% include researcher.html %}
  {% endfor %}
</section>
