---
layout: page
title: Investigación
description: ¿Son eficaces los programas de intervención con maltratadores?, ¿Qué elementos influyen en la reducción de la conducta violenta?
nav_order: 2
researchs:
  -
    authors: "Romero-Martínez, A., Lila, M., Martínez, M., Pedrón-Rico, V. y Moya-Albiol, L."
    date: 2016
    editorial: "International Journal of Emergency Mental Health and Human Resilience, 13, 394-407."
    title: "Improvements in empathy and cognitive flexibility after court-mandated intervention program in intimate partner violence perpetrators: The role of alcohol abuse."
  -
    authors: "Gracia, E. y Lila, M."
    editorial: "Luxembourg: European Commission."
    title: "Attitudes towards violence against women in EU."
    year: 2015
  -
    authors: "Gracia, E., Rodriguez, C. M. y Lila, M."
    date: 2015
    editorial: "Frontiers In Psychology, 6, 1567."
    title: "Preliminary evaluation of an analog procedure to assess acceptability of intimate partner violence against women: the Partner Violence Acceptability Movie Task."
  -
    authors: "Lila, M., Oliver, A., Catalá-Miñana, A., Galiana, L. y Gracia, E."
    date: 2014
    editorial: "The European Journal of Psychology Applied to Legal Context, 6, 29-36."
    title: "The intimate partner violence responsibility attribution scale (IPVRAS)."
  -
    authors: "Lila, M., Oliver, A., Catalá-Miñana, A. y Conchell, R."
    date: 2014
    editorial: "Psychosocial Intervention, 23, 217-223."
    title: "Recidivism risk reduction assessment in batterer intervention programs: A key indicator for program   efficacy evaluation."
  -
    authors: "Catalá-Miñana, A, Walker, K., Bowen, E. y Lila, M. (in press)."
    editorial: "Journal of Interpersonal Violence."
    title: "Cultural Differences in Personality and Aggressive Behavior in Intimate Partner Violence Offenders: A Comparison of English and Spanish Offenders."
  -
    authors: "Gracia, E. (in press) In A. C. Michalos (Ed.)"
    editorial: "Encyclopedia of quality of life research. Berlin: Springer."
    title: "Public attitudes toward partner violence against women."
  -
    authors: "Gracia, E. y Tomás, J. M. (in press)."
    editorial: "Violence Against Women."
    title: "Correlates of victim-blaming attitudes regarding partner violence against women among the Spanish   general population."
  -
    authors: "Lila, M. Psychosocial Intervention"
    editorial: "22(2), 81-85."
    title: "La intervención con hombres condenados por violencia de pareja contra la mujer en España:   Investigación y avances en intervención."
  -
    authors: "Catalá-Miñana, A., Lila, M., Conchell, R., Romero-Martínez, A. y Moya-Albiol, L."
    date: 2013
    editorial: "Psychosocial Intervention, 22(2), 135-143."
    title: "¿Se benefician de los programas de intervención que no tratan específicamente el consumo de alcohol   los maltratadores con problemas de consumo?"
  -
    authors: "Romero-Martínez, A., Lila, M.m Catalá-Miñana, A., Williams, R. K. y Moya-Albiol, L."
    date: 2013
    editorial: "International Journal of Environmental Research and Public Health, 10(8), 3753-3770."
    title: "The contribution of childhood parental rejection and early androgen exposure to impairments in   socio-cognitive skills in intimate partner violence perpetrators with high alcohol consumption."
  -
    authors: "Lila, M., Oliver, A., Lorenzo, M. V. y Catalá, A."
    date: 2013
    editorial: "Revista de Psicología Social, 28, 225-236."
    title: "Valoración del riesgo de reincidencia en violencia contra la mujer en las relaciones de pareja:   Importancia del apoyo social."
  -
    authors: "Gracia, E., Lila, M., Serrano, J., Hermosilla, J., Aparicio, J. V. y Marco, M. En F. Expósito, I.   Valor-Segura, M. Vilariño y A. Palmer (Eds.)."
    date: 2013
    editorial: "Psicología jurídica aplicada a los problemas sociales (pp. 81-88). Santiago de Compostela: Sociedad Española de Psicología Jurídica y Forense."
    title: "¿El barrio importa? Un estudios exploratorio de la distribución espacial de la violencia de pareja   contra la mujer en la ciudad de Valencia."
  -
    authors: "Lila, M., Oliver, A., Catalá, A. y Conchell, R. (2013). En F. Expósito, I. Valor-Segura, M. Vilariño   y A. Palmer (Eds.)."
    editorial: "Psicología jurídica aplicada a los problemas sociales (pp. 113-120). Santiago de Compostela: Sociedad Española de Psicología Jurídica y Forens."
    title: "Indicadores de cambio en un programa de intervención con maltratadores."
  -
    authors: "Romero-Martínez, A., González-Bono, E. Lila, M., & Moya-Albiol, L."
    date: 2013
    editorial: "Social Neuroscience."
    title: "Testosterone/cortisol ratio in response to acute stress: A possible marker of risk for marital   violence."
  -
    authors: "Lila, M., Oliver, A., Galiana, L. y Gracia, E.."
    date: 2013
    editorial: "The European Journal of Psychology Applied to Legal Context, 5, 73-95."
    title: "Predicting success indicators of an intervention programme for convicted intimate-partner violence   offenders: The Contexto Programme."
  -
    authors: "Catalá-Miñana, A., Lila, M. y Oliver, A."
    date: 2013
    editorial: "Adicciones, 25, 19-28."
    title: "Consumo de alcohol en hombres penados por violencia contra la pareja: Factores individuales y   contextuales."
  -
    authors: "Lila, M., Gracia, E. y García, F."
    date: 2012
    editorial: "Psychology, Crime and Law."
    title: "Ambivalent sexism, empathy, and law enforcement attitudes towards partner violence against women among   male police officers."
  -
    authors: "Conchell R., Lila, M. y Catalá-Miñana, A."
    date: 2012
    editorial: "Revista de Psicología, Vol. 21, 159-186."
    title: "Cambios psicosociales en un programa de intervención con hombres penados por violencia contra la   mujer."
  -
    authors: "Lila, M., Gracia, E. y Herrero, J."
    date: 2012
    editorial: "Revista Latinoamericana de Psicología, 44, 99-108."
    title: "Asunción de responsabilidad en hombres maltratadores: Influencia de la autoestima, la personalidad   narcisista y la personalidad antisocial."
  -
    authors: "Gracia, E., García, F. y Lila, M."
    date: 2011
    editorial: "Journal of Interpersonal Violence."
    title: "Police Attitudes towards Policing Partner Violence against Women: Do they correspond to different   Psychosocial Profiles?"
  -
    authors: "Lila, M., Gracia, E. y Tamarit, A."
    date: 2012
    editorial: "Madrid: Instituto de la Mujer."
    title: "Actitudes y respuestas de la policía ante situaciones de violencia de género en las relaciones de   pareja [en línea]."
  -
    authors: "Lila, M. y Gracia, E."
    date: 2011
    editorial: "En Herrera et al. (Coords.), Inmigración, interculturalidad y convivencia. Ceuta: Instituto de Estudios Ceutíes."
    title: "Percepciones de la relación violencia doméstica-inmigración en una muestra de hombres maltratadores   inmigrantes y autóctonos."
  -
    authors: "Lila, M., Gracia, E. y Herrero, J."
    date: 2011
    editorial: "En E. Kourkoutas y F. Erkman (eds.), Interpersonal acceptance and rejection. Social, emocional and educational contexts. Boca Raton, Florida: Brown Walker Press."
    title: "Domestic violence against women: Exploring attributions of responsibility among male offenders."
  -
    authors: "Gracia, E., Herrero, J., y Lila, M."
    date: "2011. En E. Kourkoutas y F. Erkman (Eds.), Interpersonal acceptance and rejection: Social, emotional,   and educational contexts. Nueva York: BrownWalker Press."
    title: "Attitudes towards partner violence against women among Latin-American immigrant population in Spain."
  -
    authors: "Carbajosa, P., Lila, M., Negredo, L. y Pérez, M."
    date: 2011
    editorial: "Madrid: Ministerio del Interior."
    title: "El delito de violencia de género y los penados extranjeros."
  -
    authors: "Gracia, E., Herrero, J., Lila, M. y Fuente, A."
    date: 2010
    editorial: "Intervención Psicosocial, 19, 135-144."
    title: "Percepciones y Actitudes hacia la Violencia de Pareja contra la Mujer en Inmigrantes Latinoamericanos   en España."
  -
    authors: "Lila, M."
    date: 2010
    editorial: "Intervención Psicosocial, 19, 105-108."
    title: "Investigación e intervención en violencia contra la mujer en las relaciones de pareja."
  -
    authors: "Gracia, E."
    date: "2010. International Journal of Psychology Research, 5, 243-262."
    title: "The Context of Domestic Violence: Social and Contextual Factors Associated With Partner Violence   Against Women."
  -
    authors: "Lila, M. y Gracia, E.."
    date: 2010
    editorial: "En F. Expósito, M. C. Herrera, G. Buela, M. Novo y F. Fariña (eds.), Psicología jurídica. Ámbitos de aplicación (pp. 55-70). Santiago de Compostela: Xunta de Galicia"
    title: "Acuerdos y desacuerdos ante la intervención con maltratadores: estado actual y retos futuros."
  -
    authors: "García, A., Lorenzo, M. V., Lila, M. y Conchell, R."
    date: 2010
    editorial: "En F. Expósito, M. C. Herrera, G. Buela, M. Novo y F. Fariña (eds.), Psicología jurídica. Ámbitos de aplicación (pp. 3-18). Santiago de Compostela: Xunta de Galicia"
    title: "La entrevista motivacional en un programa de intervención con penados por violencia contra la mujer."
  -
    authors: "Catalá, A., Lila, M., Conchell, R. y Lorenzo, M. V."
    date: 2010
    editorial: "En F. Expósito, M. C. Herrera, G. Buela, M. Novo y F. Fariña (eds.), Psicología jurídica. Áreas de investigación (pp. 41-54). Santiago de Compostela: Xunta de Galicia"
    title: "¿Cómo ocurrieron los hechos? Descripción de variables situacionales y contextuales implicadas en casos   de violencia doméstica contra la mujer."
  -
    authors: "Lila, M., García, A. y Lorenzo, M. V."
    date: 2010
    editorial: "Valencia: PUV"
    title: "Manual de intervención con maltratadores."
  -
    authors: "Lila, M., Catalá, A., Conchell, R., García, A., Lorenzo, M. V., Pedrón, V. y Terreros, E."
    date: 2010
    editorial: "Intervención Psicosocial, 19, 167-179."
    title: "Una Experiencia de Investigación, Formación e Intervención con Hombres Penados por Violencia contra la Mujer en la Universidad de Valencia: Programa Contexto."
  -
    authors: "Lila, M."
    date: 2009
    editorial: "En F. Fariña, R. Arce y G. Buela-Casal (Eds.), Violencia de género: Tratado psicológico y legal (pp. 209-220). Madrid: Biblioteca Nueva."
    title: "Intervención con hombres penados por violencia contra la mujer: El programa Contexto."
  -
    authors: "Lila, M. y Conchell, R."
    date: 2009
    editorial: "ReCrim (Revista del Instituto Universitario de Investigación en Criminología y Ciencias Penales de la UV), 2, 199-215."
    title: "Programa CONTEXTO: programa de Intervención para maltratadores en la provincia de Valencia."
  -
    authors: "Gracia, E., García, F. y Lila, M."
    date: 2009
    editorial: "The Spanish Journal of Psychology, 12, 648-656."
    title: "Public responses to intimate partner violence against women: The influence of perceived severity and   personal responsibility."
  -
    authors: "Gracia, E."
    date: 2009
    editorial: "En F. Fariña, R. Arce y G. Buela-Casal (Eds.), Violencia de género: Tratado psicológico y legal (pp. 209-220). Madrid: Biblioteca Nueva."
    title: "Violencia doméstica contra la mujer: el entorno social como parte del problema y de su solución."
  -
    authors: "Gracia, E., Lila, M. y García, F."
    date: 2009
    editorial: "Boletín Criminológico, 113."
    title: "La intervención policial en los casos de violencia contra la mujer en las relaciones de pareja:   actitudes hacia la intervención y otras variables psicosociales."
  -
    authors: "Gracia, E., Herrero, J., Lila, M. y Fuente, A."
    date: 2009
    editorial: "The European Journal of Psychology Applied to Legal Context, 1, 25-43."
    title: "Perceived Neighborhood Social Disorder and Attitudes toward Domestic Violence against Women among   Latin-American Immigrants."
  -
    authors: "Lila, M., Gracia, E., García, F., García, A."
    date: 2009
    editorial: "ReCrim (Revista del Instituto Universitario de Investigación en Criminología y Ciencias Penales de la UV), 1, 161-162."
    title: "Actitudes de la policía local ante la intervención en casos de violencia contra la mujer en las   relaciones de pareja: Influencia del sexismo y la empatía."
  -
    authors: "Lila, M., Herrero, J., Gracia, E."
    date: 2008
    editorial: "Adolescence, 43, 333 -350."
    title: "Multiple victimization of Spanish adolescents: A multilevel analysis."
  -
    authors: "Lila, M., Herrero, J. y Gracia, E."
    date: 2008
    editorial: "The Open Criminology Journal, 1, 4-11."
    title: "Evaluating Attribution of Responsibility and Minimization by Male Batterers: Implications for Batterer   Programs."
  -
    authors: "Lila, M., Herrero, J. y Gracia, E."
    date: 2008
    editorial: "En F.J. Rodríguez, C. Bringas, F. Fariña, R. Arce y A. Bernardo (Eds.), Psicología Jurídica: Familia y victimología (pp. 271-279). Oviedo: Ediciones de la Universidad de Oviedo."
    title: "Atribución de responsabilidad y minimización en hombres penados por violencia doméstica contra la   mujer: un instrumento de evaluación."
  -
    authors: "Gracia, E., Herrero, J. y Lila, M."
    date: 2008
    editorial: "The Open Family Studies Journal, 1, 31-38."
    title: "Explaining the Immigration-Partner Violence Link: Attitudes Towards Partner Violence Among   Latin-American Immigrants in Spain."
  -
    authors: "Gracia, E., García, F. y Lila, M."
    date: 2008
    editorial: "Violence Against Women, 14, 697-714."
    title: "Police involvement in cases of intimate partner violence against women: The influence of perceived   severity and personal responsibility."
  -
    authors: "Gracia, E. y Lila, M."
    date: 2008
    editorial: "Revista Médica de Chile, 136, 377-384."
    title: "Los profesionales de la salud y la prevención de la violencia doméstica contra la mujer."
  -
    authors: "Gracia, E. y Herrero, J."
    date: 2007
    editorial: "Journal of Interpersonal Violence, 22, 737-752."
    title: "Perceived  neighborhood social disorder and attitudes toward reporting domestic violence against   women."
  -
    authors: "Gracia, E. Lila, M. y"
    date: 2007
    editorial: "Revista Clínica Electrónica en Atención Primaria, 12."
    title: "El papel de los profesionales de la salud en la detección y prevención de la violencia doméstica."
  -
    authors: "Gracia, E. y Herrero, J."
    date: 2006
    editorial: "Journal of Marriage and Family, 68, 759-768."
    title: "Public attitudes toward reporting partner violence against women and reporting behavior."
  -
    authors: "Gracia, E. y Herrero, J."
    date: 2006
    editorial: "Journal of Epidemiology and Community Health, 60, 123-129."
    title: "Acceptability of domestic violence against women in the European Union: A multilevel analysis."
  -
    authors: "Herrero, J. y Gracia, E."
    date: 2005
    editorial: "Psychological Reports, 97, 712-716."
    title: "Perceived frequency of domestic violence against women and neighbourhood social disorder."
  -
    authors: "Gracia, E."
    date: 2004
    editorial: "Journal of Epidemiology and Community Health, 58, 536-537."
    title: "Unreported cases of domestic violence against women: Towards an epidemiology of social silence,   tolerance, and inhibition."
  -
    authors: "Gracia, E."
    date: 2003
    editorial: "Psychology in Spain, 7, 39-45."
    title: "Social visibility and tolerance to family violence."
  -
    authors: "Gracia, E."
    date: 2003
    editorial: "Encuentros en Psicología Social, 1, 52-55."
    title: "El iceberg de la violencia familiar: ¿otro caso de inhibición social de la ayuda?"
  -
    authors: "Gracia, E."
    date: 2002
    editorial: "Intervención Psicosocial, 11, 5-15."
    title: "Visibilidad y tolerancia social de la violencia familiar."
  -
    authors: "Gracia, E."
    date: 2002
    editorial: "Barcelona: Paidós."
    title: "Las víctimas invisibles de la violencia familiar. El extraño iceberg de la violencia doméstica."

---

<section class="Hero Hero--withBgImage marginBottom-xxl" style="background-image: url(/media/investigacion.jpg)">
  <div class="Hero-content">
    <h1 class="textAlign-center">Investigación</h1>
    <p class="type-lead marginBottom-xs color-white">¿Son eficaces los programas de intervención con maltratadores?</p>
    <p class="type-lead marginBottom-xs color-white">¿Qué elementos influyen en la reducción de la conducta violenta?</p>
    <p class="type-lead marginBottom-0 color-white">Desde el Programa Contexto, hemos adquirido el compromiso de buscar respuesta a estas preguntas mediante métodos rigurosos de investigación.</p>
  </div>
</section>

<section class="container">
  <h2 class="textAlign-center marginBottom-xl">Artículos y publicaciones</h2>
  <ul class="Publications">
    {% for research in page.researchs %}
    <li class="Publication">
      <h3 class="Publication-title">{{ research.title }}</h3>
      <dl class="Publication-data">
        {% if research.date %}
        <div>
          <dt class='Publication-label'>Año</dt>
          <dd class="Publication-date">{{ research.date }}</dd>
        </div>
        {% endif %}
        <div>
          <dt class='Publication-label'>Autores/as</dt>
          <dd class="Publication-author">{{ research.authors }}</dd>
        </div>
        {% if research.editorial%}
        <div>
          <dt class="Publication-label">Publicado</dt>
          <dd class="Publication-meta">{{ research.editorial }}</dd>
        </div>
        {% endif %}
      </dl>
    </li>
    {% endfor %}
  </ul>

</section>
